*.pyc
.vscode
*.ipynb
slurm-*.out
wandb
crappy_scripts/*
logs/*
checkpoints/*
final_checkpoints/*
tokenizer/*
data/*
data_8gpu/*
.venv/*
run_jobs.sh
data.tar.zst
scripts/*
ese_logs/*
slurm_scripts/*
final_logs/*
gpu_logs/*
extract_nll.py
gg.py
submit_job.sh